.content {
  padding-top: 10px;
}

.row {
  display: flex;
  gap: 10px;

  mat-form-field {
    width: 100%;
  }
}

.action {
  padding: 0px 25px 20px;

  button {
    flex: 1;
  }

}

.group-fields {
  margin-bottom: 20px;
}

.group-fields h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.group-fields hr {
  border-top: 1px solid #ccc;
  margin-bottom: 10px;
}

.group-fields .fields {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.change-position {
  display: inline-block;
  padding: 10px 10px;
  height: 20%;
  background-color: #3B6BF8FF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.change-position:hover {
  background-color: #0056b3;
}

.change-position:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}
