<div mat-dialog-title>
  <h1 *ngIf="!data">Add New Employee</h1>
  <h1 *ngIf="data">Update Employee</h1>
</div>

<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">

    <div class="row" *ngIf="data">
      <mat-form-field appearance="outline">
        <mat-label>ID</mat-label>
        <input matInput type="text" formControlName="employeeId" readonly="true">
      </mat-form-field>
    </div>

    <div class="row">

      <mat-form-field appearance="outline">
        <mat-label>First name</mat-label>
        <input matInput type="text" formControlName="firstName" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Middle name</mat-label>
        <input matInput type="text" formControlName="middleName">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" required>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Birth date</mat-label>
        <input matInput [matDatepicker]="pickerBirthDay" formControlName="birthDay" required>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerBirthDay"></mat-datepicker-toggle>
        <mat-datepicker #pickerBirthDay></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="row">
      <div class="group-fields">
        <h2>Contact Information</h2>
        <hr>
        <div class="fields">
          <ng-content></ng-content>
        </div>
      </div>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput type="text" formControlName="phoneNumber" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email Address</mat-label>
        <input matInput type="email" formControlName="emailAddress" required>
      </mat-form-field>
    </div>

    <div class="row">
      <div class="group-fields">
        <h3>Home Address</h3>
        <hr>
        <div class="fields">
          <ng-content></ng-content>
        </div>
      </div>
    </div>

    <div class="row">

      <mat-form-field appearance="outline">
        <mat-label>Address Line 1</mat-label>
        <input matInput type="text" formControlName="addressLine1" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Address Line 2</mat-label>
        <input matInput type="text" formControlName="addressLine2">
      </mat-form-field>

    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput type="text" formControlName="city" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Postal Code</mat-label>
        <input matInput type="text" formControlName="postalCode" required>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Province</mat-label>
        <mat-select formControlName="provinceId" required>
          <mat-option *ngFor="let val of provinces" [value]="val.id">{{val.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <div class="group-fields">
        <h2>Job Position</h2>
        <hr>
        <div class="fields">
          <ng-content></ng-content>
        </div>
      </div>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Job Title</mat-label>
        <input matInput type="text" formControlName="jobTitle" required>
      </mat-form-field>

      <div class="change-position" *ngIf="data" (click)="setChangePosition()">
        <span *ngIf="!changePosition">Change Position</span>
        <span *ngIf="changePosition">Cancel</span>
      </div>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Department</mat-label>
        <mat-select formControlName="departmentId" required>
          <mat-option *ngFor="let val of departments" [value]="val.id">{{val.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Shift</mat-label>
        <mat-select formControlName="shiftID" required>
          <mat-option *ngFor="let val of shifts" [value]="val.id">{{val.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Start date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="startDate" required>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

  </div>

  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit">{{data ? 'Update' : 'Save'}}</button>
  </div>

</form>
