<div mat-dialog-title>
  <h1 *ngIf="!data">Add New Employee</h1>
  <h1 *ngIf="data">Update Employee</h1>
</div>

<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">

    <div class="row" *ngIf="data">
      <mat-form-field appearance="outline">
        <mat-label>ID</mat-label>
        <input matInput type="text" formControlName="employeeId" readonly="true">
      </mat-form-field>
    </div>

    <div class="row">

      <mat-form-field appearance="outline">
        <mat-label>First name</mat-label>
        <input matInput type="text" formControlName="firstName">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Middle name</mat-label>
        <input matInput type="text" formControlName="middleName">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Birth date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthDay">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput type="text" formControlName="phoneNumber">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email Address</mat-label>
        <input matInput type="email" formControlName="emailAddress">
      </mat-form-field>
    </div>

    <div class="row">

      <mat-form-field appearance="outline">
        <mat-label>Address Line 1</mat-label>
        <input matInput type="text" formControlName="addressLine1">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Address Line 2</mat-label>
        <input matInput type="text" formControlName="addressLine2">
      </mat-form-field>

    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput type="text" formControlName="city">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Postal Code</mat-label>
        <input matInput type="text" formControlName="postalCode">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Province</mat-label>
        <mat-select formControlName="provinceId">
          <mat-option *ngFor="let val of provinces" [value]="val.id">{{val.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Job Position</mat-label>
        <input matInput type="text" formControlName="jobPosition">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Department</mat-label>
        <mat-select formControlName="departmentId">
          <mat-option *ngFor="let val of departments" [value]="val.id">{{val.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Shift</mat-label>
        <mat-select formControlName="shiftID">
          <mat-option *ngFor="let val of shifts" [value]="val.id">{{val.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Start date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="startDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit">{{data ? 'Update' : 'Save'}}</button>
  </div>
</form>
