.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1800px;
}

mat-form-field {
  width: 100%;
}

.action {
  display: flex;
  gap: 5px;
}

.container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 120px;
  right: 8px;
  z-index: 9999;
}

.mat-column-addressLine1 {
  width: 500px;
}

.table-container {
  height: 700px;
  max-width: 100%;
  overflow: auto;
}

table {
  width: 100%;
}

td, th {
  min-width: 275px;
}
